@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 26.5px !important;
}

.text-decoration-color {
  text-decoration-color: #4cb3d4 !important;
}

/* nav-bar start here */

/* #f8f8f8 */
.navbar {
  background: #fff9f9;
  box-shadow: 0 4px 4px 0 rgba(188, 188, 188, 0.25);
}

.navbar-brand {
  display: flex;
  width: 136px;
}

.navbar-brand-logo {
  width: 100px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
}

.nav-link.active.active {
  color: #ec4d37;
}

.nav-link.inactive {
  color: #3d3d3d;
}

.nav-link.active.inactive {
  color: #3d3d3d;
}

.nav-link:hover {
  color: #ec4d37;
}

.fa-arrow-up-right-from-square {
  color: #e3442e;
}

@media only screen and (min-width: 800px) {
  .navbar-brand {
    width: 236px;
  }
}

/* nav-bar end here */

/* doc-div */

.doc-div {
  min-height: 100vh;
  margin-top: 76px;
}

/* accordion */

a {
  text-decoration: none;
  font-size: 20px;
}
.title-inactive:hover {
  color: #535252;
}

.title-active:hover {
  color: #fff;
}

.accordion-col {
  border-right: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accordion-col-sticky {
  width: 100%;
  position: sticky;
  top: 86px;
  margin-bottom: 30px;
}

.accordion-col-two,
.accordion-col {
  padding-top: 20px;
}

.accordion,
.sub-link {
  margin-top: 10px;
}

.accordion-header button {
  padding: 0px;
  font-size: 20px;
}

.accordion-item {
  border: none;
}

.accordion-body {
  padding: 0;
}

.title-link {
  padding: 10px 0 10px 15px;
  border-radius: 5px;
  border: none;
}

.title-link-btn {
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  background: #fff2f0;
  color: #535252;
  border: none;
}
.title-link-btn.show-active {
  color: #e3442e;
  background-color: transparent;
  box-shadow: none;
  font-weight: 700;
}

.title-inactive {
  background: #fff2f0;
  color: #535252;
}

.title-active {
  background-image: linear-gradient(to right, #e72409, #d91a00);
  color: #ffffff;
  font-weight: 700;
}

.sub-link {
  padding: 10px 10px 10px 45px;
  border-radius: 5px;
  color: #707070;
}

.sub-link:hover {
  color: #707070;
  background: #f6fdff;
}

.sub-active {
  background: #f6fdff;
}

.accordion-button::after {
  background-image: url('/src/assets/images/icons/plus-solid.svg');
  background-size: contain;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('/src/assets/images/icons/minus-solid.svg');
  background-size: contain;
}

@media only screen and (max-width: 1400px) {
  a {
    font-size: 16px;
  }
  .accordion-header button {
    font-size: 16px;
  }
}

/* Introduction */

.introduction {
  padding-bottom: 35px;
  line-height: 26.5px !important;
  /* background: #f8f8f8; */
}

.introduction h1 {
  font-size: 25px;
  font-weight: 700;
  color: #e3442e;
}

.introduction h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.title-des {
  margin-top: 10px;
}

.introduction p {
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
}

.section {
  margin-bottom: 35px;
}

.overview {
  margin-top: 20px;
}

.giga-food {
  font-weight: 500;
}

.overview-des {
  margin: 35px 0 30px 0;
}

.introduction ul {
  margin-top: 23px;
}

.introduction li::marker {
  color: #62af00;
}

/* info */

.info {
  padding: 17px;
  background: #f5ffed;
  border-left: 4px solid #baf88a;
  border-radius: 2px;
  margin-bottom: 35px;
}

.info h5 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.info p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

/* happy flow */

.happy-flow-des {
  margin-top: 20px;
}

/* btn-pre-next */

.btn-pre-next button {
  background: transparent;
  color: #3d3d3d;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid #3d3d3d;
  padding: 2px 25px;
  transition: all 0.5s;
  border-radius: 5px;
}

.btn-pre-next button:hover {
  background-image: linear-gradient(to right, #bf1d06, #d31a00);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn-pre-next button:active {
  opacity: 0.5;
}

/* footer */

.footer {
  background: #1d1d1d;
  padding-bottom: 30px;
}

/* text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-medium */

.footer h3 {
  font-size: 18px;
  font-weight: 500;
}

.footer p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}

.footer-logo {
  width: 140px;
}

.footer .section {
  margin-right: 0px;
  margin-top: 40px;
}

.footer .logo-des {
  max-width: 380px;
}

.logo-des p {
  margin-top: 40px;
  padding: 0 10px;
}

.footer-logo-icon {
  margin-top: 48px;
}

.footer-logo-icon img {
  width: 30px;
  height: 30px;
}

.footer .list-item {
  margin-top: 25px;
}

.footer .contact-p {
  max-width: 280px;
}

.footer .contact-items {
  margin-top: 25px;
}

.border-footer {
  height: 1px;
  background: #928f8f;
  margin-top: 90px;
}

.copy-write {
  color: #fff;
  font-size: 12px !important;
}

@media only screen and (min-width: 576px) {
  .footer .section {
    margin-right: 40px;
  }
  .logo-des p {
    padding: 0 40px 0 0;
  }
}

@media only screen and (min-width: 992px) {
  .footer h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1400px) {
  .footer h3 {
    font-size: 30px;
  }
  .footer p {
    font-size: 20px;
  }
}

/* accordion new */

.accordion {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion:nth-of-type(1) {
  border-top-width: 1px;
}

.accordion-title {
  font-size: 18px;
  color: #3e4e50;
  font-weight: 500;
  display: flex;
}

.accordion-title:hover {
  cursor: pointer;
}

.accordion .toggle {
  width: 16px;
  height: 16px;
  align-self: center;
  margin-left: auto;
  transition: all 0.35s ease;
}

.accordion .toggle {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.accordion .toggle[aria-expanded='true'] {
  transform: rotate(180deg);
}

.accordion .toggle #vertical {
  transform: rotate(0deg);
}
.accordion .toggle[aria-expanded='true'] #vertical {
  transform: rotate(180deg);
}

.accordion-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}

.accordion-content[aria-expanded='true'] {
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

/* home */

.home-div {
  margin: 96px 0 60px 0;
}

.home-div .icon-div {
  background: #ec4d37;
  padding: 100px 10px;
  overflow: hidden;
}

.icon-div img {
  width: 260px;
  z-index: 10;
}

.icon-div button {
  border: none;
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 50px;
  background: #fff;
  z-index: 10;
  transition: all 0.3s;
}

.icon-div button:hover {
  color: #ec4d37;
}

.circle,
.rectangle {
  position: absolute;
}

.circle.big {
  width: 14%;
  height: 300px;
  top: -134px;
  left: -4%;
}

.circle.small {
  width: 6%;
  height: 100px;
  top: -42px;
  right: -2%;
}

.rectangle {
  width: 120px;
  height: 200px;
}

.rectangle.one {
  left: -3%;
  bottom: -15px;
}

.rectangle.two {
  right: 25%;
  top: -91px;
}

.rectangle.three {
  right: -4%;
  bottom: -33px;
}

.home-div .container {
  margin-top: 50px;
}

/* card */

.card-box .card {
  max-width: 100%;
  border: none;
  background: #f8f8f8;
  margin: 10px 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.card-box .card:hover {
  box-shadow: 0 -1px 18px 0 rgba(64, 64, 64, 0.25);
}

.card-box .card .img-card {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.card-box .card .img-card img {
  width: auto;
  height: 100%;
  padding: 10px;
}

.card-box .card-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 15px 0 0 0;
  background: #fff5f3;
  padding: 4px 10px;
}

.card-box .card-body {
  padding: 0;
}

.card-box .card-body p {
  font-size: 16px;
  color: #585858;
  padding: 20px;
}

@media only screen and (min-width: 576px) {
  .card-box .card .img-card {
    height: 227px;
  }
}

@media only screen and (min-width: 800px) {
  .icon-div img {
    width: 390px;
  }
  .circle.big {
    width: 10%;
    height: 300px;
    top: -121px;
    left: -4%;
  }
  .circle.small {
    width: 5%;
    height: 100px;
    top: -29px;
    right: -1%;
  }
  .rectangle {
    width: 200px;
  }
}

@media only screen and (min-width: 992px) {
  .card-box .card {
    width: 424px;
    height: 400px;
  }
  .card-box .card .img-card {
    height: 180px;
  }
}

@media only screen and (min-width: 1400px) {
  .icon-div button {
    padding: 7px 35px;
    font-size: 22px;
  }
  .card-box .card .img-card {
    height: 227px;
    margin-top: 30px;
  }
  .card-box .card {
    width: 424px;
    height: 470px;
  }
  .card-box .card-title {
    margin: 25px 0 10px 0;
    background: #fff5f3;
    padding: 8px 10px;
  }
}
